<div class="container">
  <div class="row mt-5">
    <div>
      <%= notice %>
    </div>
    <div>
      <h3>OpenKdolで推しを見つけよう。</h3>
      <%= image_tag 'open_kdol_top.jpg', style: "width: 1000px; height: 1000px;" %>
    </div>
  </div>
</div>