<div class="mypage-follow-btn">
  <% if current_end_user != end_user %>
    <% if current_end_user.following?(end_user) %><!--ログイン中のユーザが表示されているユーザをフォローしているか -->
      <%= link_to "フォロー中", end_user_follows_path(end_user.id), method: :delete, class: "btn btn-secondary", remote: true %>
    <% else %>
      <%= link_to "フォローする", end_user_follows_path(end_user.id), method: :post, class: "btn btn-primary", remote: true %>
    <% end %>
  <% end %>
</div>  