<div class="container">
  <div class="row mt-3">
    <div class="row mt-5 ml-5">
      <% if @end_users.exists? %>
       <% @end_users.each do |end_user| %>
        <div class="row mt-5">
        <%= link_to end_user_path(end_user.id) do %>
          <ul class="list-unstyled">
            <li>
              <%= image_tag end_user.get_profile_image, style: "border-radius: 50%; width: 100px; height: 100px; object-fit:cover;" %>
              <%= end_user.name %>
            </li>
            <li>
              <%= end_user.introduction %>
            </li>
          </ul>
        </div>
      <% end %>
      <% end %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>



